$bodyText: #535353;
$button: #003d75;
$footer: #1d1d1d;
$footerBorder: #8e8e8e;
$footerText: #b0b0b0;
$headings: #e42526;
$headingBorder: #6f6f6f;
$inputBg: #fbfbfb;
$inputBorder: #f2f2f2;
$main: #e42526;
$smallHeading: #000;
$social: #8e8e8e;
$tabs: #003d75;
$tabBorder: #003d75;
